body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}
nav.navbar {
  background-color: #333;
  padding: 10px;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

nav.navbar li.logo {
  margin-right: auto; 
}

nav.navbar li {
  margin-right: 20px;
}

nav.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav.navbar li a:hover {
  text-decoration: underline;
}


header {
  text-align: center;
  padding: 10px;
}

header img.logo {
  width: 150px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.main-content {
  margin-top: 40px;
  text-align: center;
}

input.form-control {
  padding: 10px;
  font-size: 1.1rem;
  width: 60%;
  margin-right: 10px;
}

button.btn-primary {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}

button.btn-secondary {
  padding: 10px 20px;
  background-color: #95a5a6;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.unit-section {
  margin: 20px 0;
}

.unit-section label {
  font-weight: 600;
  font-size: 1.2rem;
}

.nutrition-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nutrition-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
  margin: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  margin-bottom: 30px;
}
/* Dark Mode */
.dark-mode {
  background-color: #2c3e50; 
  color: #ecf0f1; 
}

/* Calorie Tracker Heading */
.dark-mode .calorie-tracker-title, 
.dark-mode .calorie-tracker-heading {
  color: #ecf0f1; 
}

/* Nutrition Cards in Dark Mode */
.dark-mode .nutrition-card {
  background-color: #3b4a54; 
  color: #ecf0f1; 
  border: 1px solid #555; 
}

/* Calorie Text Heading in Dark Mode */
.dark-mode #calories {
  color: #ecf0f1; 
}

/* Primary Button in Dark Mode */
.dark-mode .btn-primary {
  background-color: #e74c3c; 
  color: white; 
}

/* Secondary Button in Dark Mode */
.dark-mode .btn-secondary {
  background-color: #7f8c8d; 
  color: white; 
}

/* Flexbox for logo and title alignment */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Center the calorie tracker heading */
.calorie-tracker-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.calorie-tracker-title {
  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333; 
}

