.component-1 {
  padding: 0 0 222px;
}
.group-8 {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 109px;
  bottom: 0;
}
.group-7 {
  background-color: rgba(234, 234, 234, 1);
  border-radius: 10px;
  padding: 26.92px 39.38px 25.92px 22.5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-start;
  position: relative;
}
.flex-wrapper-two {
  margin-right: 329.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nutritional-values {
  height: 5.55%;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  display: flex;
  margin-bottom: 89.74px;
}
.relative-wrapper-one {
  width: 89.26%;
  height: 80.19%;
  position: relative;
}
.calories-serving-size-g-fat-total-g-f {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  position: relative;
  letter-spacing: 1.28px;
}
.line-2 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  top: 40.88px;
}
.line-3 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  top: 86.74px;
}
.line-4 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  top: 134.6px;
}
.line-5 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  top: 182.46px;
}
.line-6 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  top: 233.31px;
}
.line-7 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  bottom: 224.34px;
}
.line-8 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  bottom: 175.49px;
}
.line-9 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  bottom: 130.62px;
}
.line-10 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  bottom: 85.75px;
}
.line-11 {
  width: 264.81%;
  height: 0.2%;
  background-color: rgba(219, 219, 219, 1);
  position: absolute;
  right: -402.82px;
  bottom: 41.88px;
}
.flex-wrapper-three {
  margin-right: 46.13px;
  padding: 135.6px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.num-100 {
  height: 5.97%;
  width: 83.33%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 24.93px;
}
.num-50 {
  height: 5.97%;
  width: 59.52%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 24.92px;
}
.num-0-2 {
  height: 5.97%;
  width: 71.43%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 24.93px;
}
.num-10 {
  height: 5.97%;
  width: 52.37%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 28.91px;
}
.num-100-two {
  height: 5.97%;
  width: 83.33%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 26.92px;
}
.num-156 {
  height: 5.97%;
  width: 78.57%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 26.92px;
}
.num-120 {
  height: 5.97%;
  width: 80.96%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 21.93px;
}
.num-25 {
  height: 5.97%;
  width: 57.15%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 24.93px;
}
.num-60 {
  height: 5.97%;
  width: 59.52%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  text-align: center;
  margin-bottom: 26.92px;
}
.num-0-03 {
  height: 5.97%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  display: flex;
  text-align: center;
}
.flex-wrapper-four {
  padding: 17.95px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.to-burn-100-calories-you-will-have-to {
  height: 5.23%;
  width: 93.5%;
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
  display: flex;
  margin-bottom: 39.88px;
  margin-left: 23.63px;
}
.group-5 {
  margin-bottom: 73.78px;
  margin-left: 7.88px;
  display: flex;
  align-items: flex-start;
}
.running {
  width: 18.67%;
  align-self: stretch;
  margin-right: 28.13px;
  object-fit: cover;
}
.flex-wrapper-five {
  padding: 8.97px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.jog {
  height: 56.4%;
  width: 11.26%;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgba(75, 134, 115, 1);
  display: flex;
  margin-bottom: 3.99px;
  margin-left: 3.38px;
}
.you-will-have-to-jog-for-10-minutes {
  height: 56.4%;
  align-self: stretch;
  display: flex;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.you-will-have-to-jog-for-10-minutes-emphasis-1 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.group-6 {
  margin-bottom: 73.79px;
  margin-left: 9px;
  display: flex;
  align-items: flex-start;
}
.yoga {
  width: 15.14%;
  align-self: stretch;
  margin-right: 33.76px;
  object-fit: cover;
}
.do-power-yoga {
  height: 53.66%;
  width: 35.87%;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgba(75, 134, 115, 1);
  display: flex;
  margin-bottom: 5.98px;
}
.you-will-have-to-power-yoga-for-10-minut {
  height: 53.66%;
  align-self: stretch;
  display: flex;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.group-4 {
  margin-bottom: 73.78px;
  margin-left: 9px;
  display: flex;
  align-items: flex-start;
}
.weightlifter {
  width: 15.4%;
  align-self: stretch;
  margin-right: 31.51px;
  object-fit: cover;
}
.flex-wrapper-six {
  padding: 4.99px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.get-a-gym-workout {
  height: 48.91%;
  width: 48.72%;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgba(75, 134, 115, 1);
  display: flex;
  margin-bottom: 5.97px;
}
.you-will-have-to-lift-weight-for-18-minu {
  height: 48.91%;
  align-self: stretch;
  display: flex;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.group-3 {
  padding: 0 211.53px 0 0;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.you-will-have-to-brisk-walk-for-25-minut {
  height: 25.29%;
  width: 77.13%;
  display: flex;
  position: absolute;
  left: 118.15px;
  top: 41.88px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.walking {
  width: 32.1%;
  align-self: stretch;
  margin-right: 20.26px;
  object-fit: cover;
}
.go-for-a-brisk-walk {
  height: 25.29%;
  width: 61.25%;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgba(75, 134, 115, 1);
  display: flex;
  margin-top: 13.96px;
}
.rectangle-6 {
  width: 50.09%;
  height: 5.99%;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 20.25px;
  top: 83.75px;
}
.serving-size-per-100-grams {
  height: 6.73%;
  width: 20.09%;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  color: rgba(234, 234, 234, 1);
  display: flex;
  position: absolute;
  left: 38.26px;
  top: 81.76px;
  letter-spacing: 1.28px;
}
.flex-wrapper-one {
  background-color: rgba(255, 255, 255, 1);
  padding: 142px 310px 491px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.logo-1 {
  width: 90.36%;
  height: 31.23%;
  margin-bottom: 6px;
  margin-left: 58px;
}
.relative-wrapper-two {
  margin-bottom: 11px;
  position: relative;
}
.group-2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 2px 3.79px 2px 673.14px;
  position: relative;
  border: 2px solid rgba(219, 219, 219, 1);
}
.rectangle-3 {
  width: 100%;
  height: 100%;
  background-color: rgba(3, 0, 0, 1);
  border-radius: 0px 5px 5px 0px;
  position: relative;
}
.find-calories {
  height: 31.17%;
  width: 17.53%;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  display: flex;
  position: absolute;
  right: 22.32px;
  top: 28px;
}
.search-for-calories-in-your-food {
  width: 32.74%;
  height: 28.4%;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: rgba(95, 93, 93, 1);
  position: absolute;
  left: 43px;
  top: 29px;
}
.group-9 {
  margin-bottom: 31px;
  margin-left: 91px;
  display: flex;
  align-items: flex-start;
}
.granola-has-a-total-of-400-calories {
  width: 93.09%;
  align-self: stretch;
  margin-right: 10px;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  color: rgba(0, 0, 0, 1);
}
.granola-has-a-total-of-400-calories-emphasis-1 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2.88px;
}
.granola-has-a-total-of-400-calories-emphasis-2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: rgba(75, 134, 115, 1);
  letter-spacing: 2.88px;
}
.shocked {
  width: 5.5%;
  height: 84.78%;
}
.group-10 {
  background-color: rgba(250, 115, 115, 0.65);
  margin-left: 6px;
  border-radius: 10px;
  padding: 9px 75px 10px 31px;
  display: flex;
  align-items: center;
}
.this-food-contains-an-high-amount-of-sod {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  color: rgba(154, 3, 3, 1);
  flex: 1;
  align-self: stretch;
  letter-spacing: 1.12px;
}